main {
  margin-bottom: 50px;
}

main > section {
  padding: 32px;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 50px 0;
}

p {
  font-size: 24px;
}

cite {
  font-size: 18px;
}

.App-header {
  background-color: var(--primary-color);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header > p {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.credentials-list {
  display: grid;
  list-style: none;
  text-align: left;
  grid-template-columns: auto auto;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

.credentials-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: calc(100vw - 120px);
  margin: 0 auto;
}

.credential {
  padding-right: 2rem;
}

.credential p {
  padding-left: 1rem;
}

.credential {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.credential .svg-inline--fa {
  background-color: var(--primary-color);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
}

.credential ul li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 1rem 0;
}

.credential ul li p {
  font-size: 18px;
}

.credential ul li .svg-inline--fa {
  width: 20px;
  height: 20px;
}

.secondary-background {
  background-color: var(--secondary-color);
}

.help-item {
  padding-left: 5rem;
}

.help-icon {
  height: 50px;
}

.help-subject {
  font-size: 50px;
  padding-left: 1rem;
}

/* Utilities */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.sticky {
  position: sticky;
  top: 10vh;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.full-height {
  height: 50vh;
}

/* Video Player Styles */
video {
  width: 100%;
  border-radius: 8px;
}

/* We need to have a smaller font for the .help-subject text when on mobile */
@media (max-width: 768px) {
  .help-subject {
    font-size: 30px;
  }

  .help-item {
    padding-left: 2rem;
  }
}
