main {
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
}

p {
  font-size: 16px;
}

.App-header {
  background-color: var(--primary-color);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header > p {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.credentials-list {
  display: grid;
  list-style: none;
  text-align: left;
  grid-template-columns: auto auto;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

.credentials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  width: calc(100vw - 600px);
  margin: 0 auto;
}

.credential:nth-child(odd) {
  padding-left: 2rem;
  text-align: right;
  padding-right: 1rem;
}

.credential:nth-child(odd) p {
  text-align: right;
  padding-right: 1rem;
}

.credential:nth-child(even) {
  padding-right: 2rem;
}

.credential:nth-child(even) p {
  padding-left: 1rem;
}

.credential {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.credential .svg-inline--fa {
  background-color: var(--primary-color);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 10px;
}

.secondary-background {
  background-color: var(--secondary-color);
}